/*Index*/
.milanesa{
    background-color: #99ff00;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.h1,.h2{
    color: blue;
    background-color: aqua;
}


/*Pagina Contacto*/

/* Colores de la pagina:
    1. rojo
    2.#99ff00*/